html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.right {
    display: flex;
    gap: 30px;
}

.right a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}